/* You can add global styles to this file, and also import other style files */
@import "../node_modules//bootstrap//dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.tab-panel{
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 25px;
    padding: 20px;
    min-width: 100%;
    min-height: 200px;
}

.nav-tabs > li.open,
.member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #46af46;
}

.nav-tabs > li.open,
.member-tabset > .nav-tabs > li {
     border-bottom: 4px solid #8ef78e;
}

.member-tabset > .nav-tabs > li.active{
    border-bottom: 4px solid #005e00;
}

.member-tabset > .nav-tabs > li.open > a,
.member-tabset > .nav-tabs > li:hover > a {
    background: none !important;
    font-weight: bold;
}

.member-tabset > .tab-content {
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 20px 0;
  }