
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Shopping Platform</a>
        <button class="navbar-toggler" (click)="togglerNavbar()" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpened}">
            
            <form class="navbar-center form-inline my-2 my-md-1">
                <input class="search-key form-control my-2" mx-1 type="text" placeholder="Search item">
                <select class="category form-control form-control-md mx-1 my-2">
                    <option value="All" selected>All</option>
                    <option value="Cars">Cars</option>
                    <option value="Mobile">Mobile</option>
                </select>
                <button type="button" class="btn btn-primary">Search</button>
            </form>
            
            <div class="dropdown" dropdown [autoClose]="false">
                <a class="dropdown-toggle text-light" dropdownToggle>
                    Menu
                </a>
                
                <div class="dropdown-menu dropdown-menu-right mt-3" *dropdownMenu>
                    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="mt-2" (ngSubmit)="login()" autocomplete="off">
                        <input name="username" [(ngModel)]="loginModel.username" class="dropdown-item form-control" type="text" placeholder="Username">
                        <input name="password" [(ngModel)]="loginModel.password" class="dropdown-item form-control mt-3" type="password" placeholder="Password">
                        <button class="btn btn-primary dropdown-item mt-3 mx-auto"><i class="fa fa-sign-in mr-2"></i>Log in</button>
                        <div class="dropdown-divider mt-3"></div>
                        <a class="dropdown-item" routerLink='/register'>Create a new account</a>
                    </form>

                    <form *ngIf="accountService.currentUser$ | async">
                        <button class="btn btn-primary dropdown-item mt-3 mx-auto"><i class="fa fa-shopping-bag mr-2"></i>My orders</button>
                        <button class="btn btn-primary dropdown-item mt-3 mx-auto" (click)="goToAccountSettings()"><i class="fa fa-cog mr-2"></i>Account settings</button>
                        <button class="btn btn-primary dropdown-item mt-3 mx-auto" (click)="logout()">
                            <i class="fa fa-sign-out mr-2"></i>
                            Log out
                        </button>
                    </form>

                </div>
            </div>
 
        </div>
    </div>
</nav>